<!-- #######  Instructions to know about this app design #########-->
<h2>Food App Design Using React Native.</h2>
<p>&nbsp;This food app react native template is created for React Native developers. React native developers can easily use this food app template to build food related ecommerce apps.</p>
<h4>&nbsp;<strong>Note :</strong> This template only has routing and UI design code.</h4>
<h4>Major Pages included:</h4>
<ul>
<li>Login and Registration screens.</li>
<li>Individual screens merged into tabs for user point of view.</li>
<li>Tabs are like Home, Transactions, Payment methods, Account etc.</li>
<li>Animated credit card page and more ui.</li>
</ul>
<p>&nbsp;</p>
<h4>Features:</h4>
<ul>
<li>Ready to integrate services to make all screen items as dynamic.</li>
<li>Easy to deploy on app store and play store</li>
<li>Better navigation between screens , handled by react-navigation</li>
<li>Easy to style by your own similar to CSS with light modifications in properties.</li>
</ul>
<h3>Installation Instructions:</h3>
<p>Follow these instructions to setup payment app template react native app</p>
<ul>
<li>Extract the project "paymentapp.zip".</li>
<li>Open command prompt terminal.</li>
<li>Enter into project root directory.</li>
<li>Type "npm install", to install all required npm modules.</li>
</ul>
<p>Since, this project is for react-native developers, it is assumed that you have an Android or iOS emulator running in your development machine.</p>
<p>&nbsp;</p>
<h3>H<strong>ow to run:</strong></h3>
<ul>
<li>&nbsp;<strong>Android</strong></li>
</ul>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong>run this command "react-native run-android"</p>
<ul>
<li><strong>iOS</strong></li>
</ul>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;run this command "react-native run-ios"</p>
<h4>&nbsp;</h4>
